11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [2]:
import zoo

In [3]:
zoo.hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [7]:
import zoo as menagerie

In [9]:
menagerie.hours()

Open 9-5 daily

16.3 Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [12]:
import csv

data = [
    ["title", "author", "year"],
    ["The Weirdstone of Brisingamen", "Alan Garner", 1960],
    ["Perdido Street Station", "China Miéville", 2000],
    ["Thud!", "Terry Pratchett", 2005],
    ["The Spellman Files", "Lisa Lutz", 2007],
    ["Small Gods", "Terry Pratchett", 1992],
]

with open('books.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print("books.csv has been created successfully.")

books.csv has been created successfully.

16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

In [15]:
import sqlite3

db = sqlite3.connect('books.db')
curs = db.cursor()

curs.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

db.commit()
db.close()

print("Database 'books.db' and table 'books' created successfully.")

Database 'books.db' and table 'books' created successfully.

16.5 Read books2.csv and insert its data into the book table.

In [20]:
import csv
import sqlite3

db = sqlite3.connect('books.db')
curs = db.cursor()

insert_query = 'INSERT INTO books (title, author, year) VALUES (?, ?, ?)'

with open('books.csv', 'r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile) 
    for row in reader:
        curs.execute(insert_query, (row['title'], row['author'], int(row['year'])))

db.commit()
db.close()

print("Data from 'books2.csv' has been inserted into the 'books' table.")

Data from 'books2.csv' has been inserted into the 'books' table.

16.6 Select and print the title column from the book table in alphabetical order.

In [32]:
import sqlite3

db = sqlite3.connect('books.db')
curs = db.cursor()

query = 'SELECT title FROM books ORDER BY title ASC'

curs.execute(query)
rows = curs.fetchall()

for row in rows:
    print(row[0])

db.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

16.7 Select and print all columns from the book table in order of publication.

In [35]:
import sqlite3

db = sqlite3.connect('books.db')
curs = db.cursor()

query = 'SELECT * FROM books ORDER BY year ASC'

curs.execute(query)
rows = curs.fetchall()

print("Books in order of publication:")
for row in rows:
    print(f"Title: {row[0]}, Author: {row[1]}, Year: {row[2]}")

db.close()

Books in order of publication:
Title: The Weirdstone of Brisingamen, Author: Alan Garner, Year: 1960
Title: Small Gods, Author: Terry Pratchett, Year: 1992
Title: Perdido Street Station, Author: China Miéville, Year: 2000
Title: Thud!, Author: Terry Pratchett, Year: 2005
Title: The Spellman Files, Author: Lisa Lutz, Year: 2007

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [43]:
import sqlalchemy
from sqlalchemy.sql import text

engine = sqlalchemy.create_engine('sqlite:///books.db')

query = text('SELECT title FROM books ORDER BY title ASC')

with engine.connect() as connection:
    result = connection.execute(query)
    print("Titles in alphabetical order:")
    for row in result:
        print(row[0])

Titles in alphabetical order:
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!